
    <div class="cat-tags">
        <div class="container">
            <ul class="catagory">
                <li><a href="/blogs/blog">All Categories</a></li>
                <!-- ==== start loop ==== -->
                {% for article in blogs['blog'].articles reversed %}
                    {% for tag in article.tags %}
                        {% assign urlCheck =  tag | handle %}
                        <li><a {% if tag == current_tags  %} class="active" {% endif %} href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
                    {% endfor %}
              {% endfor %}
                <!-- ======= end loop ====== -->
            </ul>
        </div>
    </div>
    <section class="blogs-main padding-main">
        <div class="container">
            <div class="blogs-flex">
                <!-- ==== start loop ===== -->
                {% for article in blogs['blog'].articles reversed %}
                      {% render 'custom-article-card', article: article %}
                {% endfor %}
                </div>
                <!-- ======== end loop ==== -->
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "All Blog Posts",
    "settings": [],
    "presets": [
      {
        "name": "All Blog Posts"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}