
    <div class="cat-tags">
        <div class="container">
            <ul class="catagory">
                <li {% unless current_tags %}class="active" {% endunless %}><a href="{{ blog.url }}">All Categories</a></li>
                <!-- ==== start loop ==== -->              
                    {% for tag in blog.all_tags %}                      
                      <li {% if current_tags contains tag %}class="active" {% endif %}>
                      <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
                        </li>                            
              {% endfor %}
                <!-- ======= end loop ====== -->
            </ul>
        </div>
    </div>
    <section class="blogs-main padding-main">
        <div class="container">
            <div class="blogs-flex">
                <!-- ==== start loop ===== -->
                {% for article in blog.articles %}
                      {% render 'custom-article-card', article: article %}
                {% endfor %}
                </div>
                <!-- ======== end loop ==== -->
            </div>
        </div>
    </section>
{% schema %}
{
    "name": "All Blog Posts",
    "settings": [
        {
            "type": "checkbox",
            "label": "Shoow Tags",
            "id": "show_tags",
            "default": true
        }
    ],
    "presets": [
      {
        "name": "All Blog Posts"
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}