<section class="for-you padding-main" id="new1">
    <div class="container">
        <div class="global-heading">
            <h2>You’re Getting Verrry Sleepi</h2>
        </div>
        <div class="for-flex">
            <div class="for-width">
                <h4>85%</h4>
                <p>of customers surveyed fell asleep faster when taking Sleepi</p>
            </div>
            <div class="for-width">
                <h4>99%</h4>
                <p>of customers surveyed would recommend to a friend</p>
            </div>
            <div class="for-width">
                <h4>87%</h4>
                <p>of customers surveyed woke up feeling well rested</p>
            </div>
        </div>
        <div class="best-heading">
            <h3>Your best night’s sleep ever,<br> 
                is only one click away.</h3>
        </div>
        <div class="primary-btn">
            <a href="#">Redeem my offer</a>
        </div>
    </div>
</section>