<section class="video padding-main">
    <div class="container">
        <div class="inner-video">
            <a data-fancybox="" href="{{ section.settings.youtube_link }}">                
                {% render 'image-card', image: section.settings.poster_image, lazy_load: true %}
            </a>
        </div>
        {% if section.settings.button_text != blank %}            
        <div class="primary-btn">
            <a href="{{ section.settings.button_link }}" title="{{ section.settings.button_text }}"> {{ section.settings.button_text }} </a>
        </div>
    {% endif %}
    </div>
</section>

{% schema %}
    {
        "name": "Video",
        "settings": [            
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "start snoozing"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            },{
                "type": "image_picker",
                "id": "poster_image",
                "label": "Poster Image"
            },
            {
                "type": "text",
                "id": "youtube_link",
                "label": "Youtube Link",
                "info": "Paste the youtube link here.."
            }
        ]
    }
{% endschema %}