<div class="join-now">
    <div class="inner-join">
        <h3>Claim 50% Off Before Supplies Run Out</h3>
        <div class="normal-btn">
            <a href="#">start snoozing
            </a>
        </div>
    </div>
</div>