<section class="better-banner padding-main global-banner-padding" style="background-image: url(images/better-banner.png);">
<div class="container">
    <div class="heading-custom">
        <h1>Tired of Tossing<br> 
            and Turning?</h1>
        <p>Meet your new bedtime bestie: Sleepi Gummies work three-fold to help put sleepless nights behind you with one delicious bite.
        </p>
        <div class="bullets">
            <ul>
                <li><img src="images/tick-white.png">Fall asleep faster</li>
                <li><img src="images/tick-white.png">Stay asleep longer</li>
                <li><img src="images/tick-white.png">Improve sleep quality</li>
            </ul>
        </div>
        <div class="normal-btn">
            <a href="#">Try sleepi 50% off
            </a>
        </div>
    </div>
</div>
</section>