<section class="video padding-main">
    <div class="container">
        <div class="inner-video">
            <a data-fancybox="" href="https://www.youtube.com/">
                <img src="images/youtube.png">
            </a>
        </div>
        <div class="primary-btn">
            <a href="#">start snoozing</a>
        </div>
    </div>
</section>