<section class="team" style="background-image: url(images/center-img.png);">
<div class="container">
    <div class="inner-headng">
        <h2>The Dream Team</h2>
        <div class="normal-btn">
            <a href="#">Taste your relief
            </a>
        </div>
    </div>
    <div class="dream-flex">
        <div class="dream-width">
            <div class="icon-img">
                <img src="images/d1.png">
            </div>
            <div class="dream-des">
            <h5>CBN</h5>
            <p>Hemp derived cannabinol contains powerful relaxing properties known to improve the quality of REM sleep. </p>
            </div>
        </div>
        <div class="dream-width">
            <div class="icon-img">
                <img src="images/d2.png">
            </div>
            <div class="dream-des">
            <h5>Myrcene</h5>
            <p>Natural aromatic compound found in plants promotes a calming, sedative effect to help you fall asleep faster.  </p>
            </div>
        </div>
        <div class="dream-width">
            <div class="icon-img">
                <img src="images/d3.png">
            </div>
            <div class="dream-des">
            <h5>Melatonin
            </h5>
            <p>Naturally occurring hormone that regulates the sleep-wake cycle, helping you fall asleep faster and stay asleep longer.  </p>
            </div>
        </div>
    </div>
    <div class="dream-flex2">
        <div class="dream-width2">
            <div class="icon-img">
                <img src="images/d4.png">
            </div>
            <div class="dream-des">
            <h5>CBN</h5>
            <p>Organically grown CBD Isolate promotes sleep health by addressing the root causes of sleep issues.  </p>
            </div>
        </div>
        <div class="dream-width2">
            <div class="icon-img">
                <img src="images/d5.png">
            </div>
            <div class="dream-des">
            <h5>Blueberry Extract</h5>
            <p>Natural flavoring from real blueberries so you can taste your relief.  </p>
            </div>
        </div>
    </div>
</div>
</section>