<section class="join" id="how">
        <div class="join-flex">
            <div class="join-width">
                <img src="images/how1.png">
            </div>
            <div class="join-width">
                <div class="inne-join">
                    <h3>How Sleepi Hacks<br>
                        Your REM</h3>
                    <p>This plant-powered sleep solution is designed to optimize every aspect of sleep. We’ve combined the naturally sedative effects of terpenes and Melatonin to help you fall asleep faster, with the powerfully calming properties of CBN (CBD’s sleepy cousin) to increase relaxation and quality of sleep, so you can doze off peacefully, without feeling off the next day.</p>
                </div>
            </div>
        </div>
        <div class="join-flex">
            <div class="join-width">
                <img src="images/how2.png">
            </div>
            <div class="join-width">
                <div class="inne-join">
                    <h3>Who Could Benefit<br>
                        From Sleepi?</h3>
                    <h4>70% of all adults
                    </h4>
                    <p>- According to sleephealth.org, 70% of adults report insufficient sleep at least one night a month
                    </p>
                    <h4>The exhausted new parent
                    </h4>
                    <p>- Isn’t it your turn to sleep like a baby?
                    </p>
                    <h4>The athlete maximizing recovery
                    </h4>
                    <p>- Nothing takes athletic performance to the next level like restful, restorative sleep.
                    </p>
                    <h4>The mental health advocate
                    </h4>
                    <p>- Good sleep = good health. Sleep plays a crucial role in good mental health. </p>
                </div>
            </div>
        </div>     
    </section>

{% schema %}
    {
        "name": "Join",
        "settings": [
            {
                "type": "text",
                "id": "section__id",
                "label": "Section Id",
                "default": "how"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "textarea",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "subheading",
                        "label": "Subheading"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text"
                    },{
                        "type": "url",
                        "id": "button_link",
                        "label": "Button Link"
                    },
                    {
                        "type": "header",
                        "content": "Features"                      
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_1",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_1",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_2",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_2",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_3",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_3",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_4",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_4",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_5",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_5",
                        "label": "Text"
                    }
                ]
            }
        ]
    }
{% endschema %}    