<section class="testimonialss padding-main">

        <div class="testi-flex">
<!--           ====== start loop ======= -->
          {% for block in section.blocks %}
            <div class="test-width">
                <div class="inner-testi">
                    <img src="https://cdn.shopify.com/s/files/1/0729/9370/2193/files/copy.png?v=1677738451">
                    <p>{{ block.settings.review-text }}</p>
                    <span>{{ block.settings.title }}
                    </span>
                    <p>{{ block.settings.review-date }}</p>
                </div>
                <div class="side-img">
                    <img src="{{ block.settings.main-image | img_url: 'master' }}">
                </div>
            </div>
          {% endfor %}
<!--           ============ end loop ====== -->
        </div>

</section>
{% schema %}
{
    "name": "Community Testimonials",
    "settings": [
        
    ],
    "max_blocks": 2,
    "blocks": [
        {
            "type": "text",
            "name": "Testimonial",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Main Image",
                    "id": "main-image"
                },
                {
                    "type": "text",
                    "label": "Name",
                    "id": "title"
                },
                {
                    "type": "text",
                    "label": "Date",
                    "id": "review-date"
                },
                {
                    "type": "textarea",
                    "label": "Review Text",
                    "id": "review-text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Community Testimonials"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}