<section class="services padding-main">
    <div class="container">
        <div class="service-flex">
<!--           ============= start loop ====== -->
          {% for block in section.blocks %}
            <div class="service-width">
                <img src="{{ block.settings.main-image | img_url: 'master' }}">
                <p>{{ block.settings.title }}</p>
            </div>
          {% endfor %}
<!--           ============= end loop ======= -->
        </div>

    </div>
</section>
{% schema %}
{
    "name": "Community Services",
    "settings": [
        
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Service",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Main Image",
                    "id": "main-image"
                },
                {
                    "type": "text",
                    "label": "Heading",
                    "id": "title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Community Services"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}