<section class="blogs-detail padding-main">
    <div class="container">
        <div class="detail-flex">
            <div class="detail-width">
                <h1>{{ article.title | escape }}</h1>
                <div class="bl-detail">
                  {% if article.image != blank %}
                    <img src="{{ article.image.src | img_url: 'master' }}">
                  {% endif %}
                </div>
                {{ article.content }}
            </div>
            <div class="detail-width1">
                <div class="inner-right">
                    <div class="video-youtbue">
                        <iframe width="898" height="505" src="https://www.youtube.com/embed/ZmBT2MsqqK8" title="Soul CBD Founder's Story" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                    </div>
                    <h3>Find Your Relief</h3>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>Sleepi Gummies</h5>
                            <img src="images/stars.svg">
                            <span>$70</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small-photo.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>CBD Gummies</h5>
                            <img src="images/stars.svg">
                            <span> $43 – $65 </span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small2.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>CBD Oil Drops</h5>
                            <img src="images/stars.svg">
                            <span>$62 – $153</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small3.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>Dream Capsules</h5>
                            <img src="images/stars.svg">
                            <span>$62</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small4.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>Rapid Relief Cream</h5>
                            <img src="images/stars.svg">
                            <span>$75</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small5.svg">
                        </div>
                    </div>
                    <div class="recrent-post">
                        <h3>Recent Posts</h3>
                        <ul>
                            <li>
                                <a href="#">Why I Formulated Hormone Hero by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">Healing an Imbalanced Gut Microbiome by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">Natural Sleep Hacks by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">CBD for ADHD by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">5 Natural Supplements To Help With Pain</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Post Detail",
    "settings": [],
    "presets": [
      {
        "name": "Post Detail"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}