<section class="blogs-detail padding-main">
    <div class="container">
        <div class="detail-flex">
            <div class="detail-width">
                <h1>Take The Guesswork<br>
                    Out Of Good Health.</h1>
                <div class="bl-detail">
                    <img src="images/detail1.png">
                </div>
                <div class="detail-content">
                    <p>You see a cute puppy video on Instagram &amp; burst into tears, yell at your boyfriend for leaving the toilet seat up, and feel like devouring an entire pint of cookies &amp; cream. Then your period starts and everything makes sense. “Ohh I was PMS’ing!” You say, and then go about your week. What if we  told you that you didn’t have to experience such extreme mood fluctuations every month?&nbsp;</p>
                    <h3>Doctor’s Orders</h3>
                    <p>to help with the symptoms of PMS.  “While extreme PMS symptoms are common these days, they are not a normal part of our physiology as women,” says Dr. Brittney. “And that means there is something we can do about it. PMS symptoms typically occur when we have hormonal imbalances, we have not nourished our bodies enough, or when we are living out of sync with our cyclical rhythms.”&nbsp;
                    </p>
                    <p>The following are strategies you can begin to implement now to improve your PMS (&amp; painful period) symptoms for your next cycle.&nbsp;</p>
                    <h3>Where to start?</h3>
                    <p>The following are 5 strategies you can begin to implement now to improve your PMS (&amp; painful period) symptoms for your next cycle:
                    </p>
                    <p style="text-transform: uppercase;">INCORPORATE PMS SUPPORTING SUPPLEMENTS
                    </p>
                    <p>Harmoni gummies by Soul CBD are a lifesaver (well, a period saver). Not only do they contain the highest quality of CBD, they also contain chaste berry root extract, magnesium, and dandelion root that help to decrease PMS symptoms like breast tenderness, depressed mood, migraines, bloating, fatigue, &amp; mood swings.&nbsp;</p>
                </div>
                <div class="testi-details">
                    <div class="total-flex">
                        <div class="total-width">
                            <div class="coma-img">
                                <img src="images/copy.png">
                                </div>
                                <span>I like to take 1-2/day the week
                                    before and the week of my period
                                    to combat PMS symptoms and
                                    period cramps.</span>
                                <p style="font-weight: bold;">Dr. Brittney McGetrick</p>
                        </div>
                        <div class="total-width1">
                            <img src="images/right-img.png">
                        </div>
                    </div>   
                </div>
                <div class="get-iron">
                    <h2>GET DOWN WITH IRON AND ZINC</h2>
                    <h3>Be Iron (Wo)man</h3>
                    <p>Researchers at the University of Massachusetts at Amherst found that women who consume more than 20 milligrams of iron a day had a 35% lower risk of experiencing negative PMS symptoms than women with a lower iron intake. If you’re concerned about getting enough iron, there are great sources of iron in both red meat and plant-based foods that can be implemented into your daily diet.</p>
                    <h3>Up the Zinc</h3>
                    <p>Zinc has been known to reduce inflammation and prostaglandins, which are some of the main causes of period cramps. Because zinc helps to lower inflammation &amp; prostaglandins, it can help to reduce period pain!</p>
                </div>
                <div class="wht-eat">
                    <h3>What to eat</h3>
                    <img src="images/eat1.png">
                    <div class="eat-list">
                        <div class="eat-width">
                            <p>Foods high in iron include:
                            </p>
                            <ul>
                                <li><img src="images/tick1.png">Red meat</li>
                                <li><img src="images/tick1.png">Beef liver</li>
                                <li><img src="images/tick1.png">Quinoa</li>
                                <li><img src="images/tick1.png">Baking Chocolate</li>
                                <li><img src="images/tick1.png">White button mushrooms</li>
                                <li><img src="images/tick1.png">Squash &amp; Pumpkin seeds</li>
                            </ul>
                        </div>
                        <div class="eat-width">
                            <p>Foods high in iron include:
                            </p>
                            <ul>
                                <li><img src="images/tick1.png">Red meat</li>
                                <li><img src="images/tick1.png">Beef liver</li>
                                <li><img src="images/tick1.png">Quinoa</li>
                                <li><img src="images/tick1.png">Baking Chocolate</li>
                                <li><img src="images/tick1.png">White button mushrooms</li>
                                <li><img src="images/tick1.png">Squash &amp; Pumpkin seeds</li>
                            </ul>
                        </div>
                    </div>
                    <p>(Note: You don’t want to eat too many beans during your period as it can cause bloating.)</p>
                </div>
                <div class="balance">
                    <h2>BALANCE YOUR BLOOD SUGAR.</h2>
                    <p>This doesn’t have to be complicated, focus first on eating healthy fats and protein, then you can add in some whole-food carbohydrate sources like fruits, full fat dairy (preferably raw), and vegetables. Stay away from processed carbs like grains that will send your blood sugar on a roller coaster ride.&nbsp;
                    </p>
                    <p>During PMS, our estrogen and progesterone respond erratically to insulin levels (which is one of the reasons we crave sugar around that time of the month.) Unfortunately sugar is inflammatory, and increases the blood supply in your uterus. This leads to major water retention which can lead to a worsening of cramps.</p>
                </div>
                <div class="boost">
                    <h2>BOOST YOUR PROGESTERONE LEVELS.</h2>
                    <p>Normally, the week before our period starts is when we produce the most progesterone of our cycle. When we don’t make enough, we can experience PMS symptoms like mood swings, irritability, and cravings.&nbsp;
                    </p>
                    <p>Here are some ways you can naturally boost your progesterone levels:</p>
                    <ul>
                        <li>Manage your stress. Stress does crazy things to our bodies! Prioritizing getting enough sleep, and adding a mindfulness/meditation/prayer habit to your daily routine can help your body deal with stress so much better</li>
                        <li>Eat progesterone supporting foods like: beef liver, citrus fruits, avocado, and oysters. These foods are all good sources of Vitamin B6, Vitamin C, Magnesium, and Zinc that support our body’s production of progesterone!</li>
                        <li>Refrain from over-exercising. Working out is incredibly important for your body and mind, but over-doing it can cause your body to produce stress hormones over progesterone.</li>
                    </ul>
                </div>
                <div class="exercise">
                    <h2>EXERCISE ACCORDING 
                        TO YOUR CYCLE.</h2>
                    <img class="excer" src="images/excersie.png">
                    <p>This allows you to honor your body’s natural rhythms. The week before your period is a time when your body is meant to slow down. If we are attempting to do too much and not honoring our body’s shift in energy, our body will sometimes fight back with raging PMS symptoms. To get to know your cycle and your infradian rhythm better, use a cycle tracking app like Flo or Glow  and read the book “Code Red” by Lisa Lister.
                    </p>
                    <p>Here’s a breakdown of exercises according to your Flo:</p>
                    <ul>
                        <li><img src="images/tick1.png">Menstrual phase (week of your period)- Walking, foam rolling, yin yoga, breath work, napping/sleeping (yes those count during this phase!)
                        </li>
                        <li><img src="images/tick1.png">Pre-ovulation (days 7-14)- Fun cardio, dance class, yoga sculpt, group fitness, full body strength training
                        </li>
                        <li><img src="images/tick1.png">Ovulation (days 14-21) - HIIT, bootcamp classes, indoor cycling, group fitness
                        </li>
                        <li><img src="images/tick1.png">Premenstrual phase (days 21-28) - First 1/2: strength training, intense yoga. Second 1/2: pilates, gentle yoga, mobility work
                        </li>
                    </ul>
                    <p>These 5 steps are a great place to start when looking to balance your hormones and regulate your period symptoms. Having a terrible period every month is NOT a normal part of being a woman! It is possible to harness the power of your cycle, learn to live in sync with it, and begin to heal your relationship with your body. Even if you feel as though you have tried everything, I promise there is an answer out there for you somewhere.&nbsp;
                    </p>
                    <p>To connect with Dr. Brittney McGetrick, reach out to her on her website or IG (@dr.brittneymcgetrick) </p>
                    <p style="font-style: italic;">Sources:</p>
                    <p>Melissa Slavin, Eliza Barach, Stacey Farmer, Rachel Luba &amp; Mitch Earleywine (2017) Cannabis and symptoms of PMS and PMDD, Addiction Research &amp; Theory, 25:5, 383-389, DOI: 10.1080/16066359.2017.1294165
                    </p>
                    <p>Period Pain". Nhs.Uk, 2021, <a target="_blank" href="https://www.nhs.uk/conditions/period-pain/.">https://www.nhs.uk/conditions/period-pain/.</a></p>
                    <p>What does progesterone do? (n.d.). <a target="_blank" href="http://www.hormone.org/hormones-and-health/what-do-hormones-do/progesterone">http://www.hormone.org/hormones-and-health/what-do-hormones-do/progesterone</a></p>

                </div>
            </div>
            <div class="detail-width1">
                <div class="inner-right">
                    <div class="video-youtbue">
                        <iframe width="898" height="505" src="https://www.youtube.com/embed/ZmBT2MsqqK8" title="Soul CBD Founder's Story" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                    </div>
                    <h3>Find Your Relief</h3>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>Sleepi Gummies</h5>
                            <img src="images/stars.svg">
                            <span>$70</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small-photo.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>CBD Gummies</h5>
                            <img src="images/stars.svg">
                            <span> $43 – $65 </span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small2.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>CBD Oil Drops</h5>
                            <img src="images/stars.svg">
                            <span>$62 – $153</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small3.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>Dream Capsules</h5>
                            <img src="images/stars.svg">
                            <span>$62</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small4.svg">
                        </div>
                    </div>
                    <div class="sleep-flx">
                        <div class="sleeps-width">
                            <h5>Rapid Relief Cream</h5>
                            <img src="images/stars.svg">
                            <span>$75</span>
                        </div>
                        <div class="sleeps-width1">
                            <img src="images/small5.svg">
                        </div>
                    </div>
                    <div class="recrent-post">
                        <h3>Recent Posts</h3>
                        <ul>
                            <li>
                                <a href="#">Why I Formulated Hormone Hero by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">Healing an Imbalanced Gut Microbiome by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">Natural Sleep Hacks by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">CBD for ADHD by Dr. Jess</a>
                            </li>
                            <li>
                                <a href="#">5 Natural Supplements To Help With Pain</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}