<section class="faqs-sec padding-main">
    <div class="container">
        <div class="faqs-tabing">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Product</li>
            <li class="tab-link" data-tab="tab-2">Shipping</li>
            <li class="tab-link" data-tab="tab-3">Memberships</li>
            <li class="tab-link" data-tab="tab-4">Orders</li>
            <li class="tab-link" data-tab="tab-5">General</li>
        </ul>
    
        <div id="tab-1" class="tab-content current">
            <div class="faqs">
                <div class="question">
                    <h5>Where do you ship?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
            <div class="faqs">
                <div class="question">
                    <h5>How much is shipping?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
        </div>
        <div id="tab-2" class="tab-content">
            <div class="faqs">
                <div class="question">
                    <h5>How much is shipping?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
            <div class="faqs">
                <div class="question">
                    <h5>Where do you ship?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
        </div>
        <div id="tab-3" class="tab-content">
            <div class="faqs">
                <div class="question">
                    <h5>How much is shipping?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
            <div class="faqs">
                <div class="question">
                    <h5>Where do you ship?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
        </div>
        <div id="tab-4" class="tab-content">
            <div class="faqs">
                <div class="question">
                    <h5>How much is shipping?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
            <div class="faqs">
                <div class="question">
                    <h5>Where do you ship?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
        </div>
        <div id="tab-5" class="tab-content">
            <div class="faqs">
                <div class="question">
                    <h5>How much is shipping?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
            <div class="faqs">
                <div class="question">
                    <h5>Where do you ship?
                    </h5>
                </div>
                <div class="answer">
                    <p>Shipping cost is calculated at checkout. Shipping is free for all orders over $75. If you would like expedited shipping, you can choose that option at checkout. </p>
                </div>
            </div>
        </div>
        </div>
    
    </div>
</section>