<footer id="footer">
  <div class="container">
      <div class="footer-flex">
          <div class="footer-logo">
          <a href="#">
          <img src="images/footer-icon.svg">
          </a>
          </div>
          <div class="social">
              <a class="taste" href="#">#tasteyourrelief</a>
              <ul>
                  <li><a href="#"><img src="images/facebook.png"></a></li>
                  <li><a href="#"><img src="images/instagram.png"></a></li>
              </ul>
          </div>
      </div>
      <div class="nav-flex">
          <div class="nav-width">
              <h4>MY ACCOUNT</h4>
              <div class="quick-links">
                  <ul>
                      <li><a href="#">Rewards</a></li>
                      <li><a href="#">Refer a Friend</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#">Ambassadors</a></li>
                      <li><a href="#">Gift Cards</a></li>
                  </ul>
              </div>
          </div>
          <div class="nav-width">
              <h4>ABOUT</h4>
              <div class="quick-links">
                  <ul>
                      <li><a href="#">Our Story</a></li>
                      <li><a href="#">Community</a></li>
                      <li><a href="#">Customer Stories</a></li>
                      <li><a href="#">CBD Education</a></li>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">COAs</a></li>
                  </ul>
              </div>
          </div>
          <div class="nav-width">
              <h4>HELP</h4>
              <div class="quick-links">
                  <ul>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Shipping Policy</a></li>
                      <li><a href="#">Return Policy</a></li>
                      <li><a href="#">Terms of Use</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Cookie Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="nav-width1">
              <div class="description">
                  <p>*These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
              </div>
          </div>

      </div>
      <div  class="bottom-footer">
          <span>© 2022 SOUL CBD - All Rights Reserved </span>
      </div>
  </div>
</footer>