<section class="partner padding-main">
  <div class="container">
    <div class="partner-ctm-slider">
      <div class="partner-width">
        <img src="images/partner1.png">
        <p>“If you're trying CBD gummies for the first time, you can feel safe with Soul CBD products.”</p>
      </div>
      <div class="partner-width">
        <img src="images/partner2.png">
        <p>“Soul CBD is a feel-good brand with a CBD gummy standout that’s delicious to boot.”</p>
      </div>
      <div class="partner-width">
        <img src="images/partner3.png">
        <p>“If you're trying CBD gummies for the first time, you can feel safe with Soul CBD products.”</p>
      </div>
      <div class="partner-width">
        <img src="images/partner2.png">
        <p>“Soul CBD is a feel-good brand with a CBD gummy standout that’s delicious to boot.”</p>
      </div>
      <div class="partner-width">
        <img src="images/partner2.png">
        <p>“Soul CBD is a feel-good brand with a CBD gummy standout that’s delicious to boot.”</p>
      </div>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Partners",
    "settings": [],
    "presets": [
      {
        "name": "Partners"
      }
    ]
  }
{% endschema %}