<section class="guess-work padding-main">
  <div class="container">
    <div class="heading">
      <h2>Take the guesswork out<br>
        of good health.</h2>
    </div>
    <div class="guess-slider">
      <div class="owl-carousel guess-slider1 owl-theme">
        <div class="item">
          <a href="#">
            <div class="inner-guess">
              <img src="images/guess1.png">
              <h4>Better Sleep</h4>
              <p>Stop counting sheep</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <div class="inner-guess">
              <img src="images/guess2.png">
              <h4>Anti-Anxiety</h4>
              <p>Feel like you again</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <div class="inner-guess">
              <img src="images/guess3.png">
              <h4>Pain Relief</h4>
              <p>Treating pain<br> shouldn’t be one</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <div class="inner-guess">
              <img src="images/guess1.png">
              <h4>Better Sleep</h4>
              <p>Stop counting sheep</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <div class="inner-guess">
              <img src="images/guess2.png">
              <h4>Anti-Anxiety</h4>
              <p>Feel like you again</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <div class="inner-guess">
              <img src="images/guess3.png">
              <h4>Pain Relief</h4>
              <p>Treating pain<br> shouldn’t be one</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-heading">
      <h3>Not Sure Where To Start?<br>
        Take Our Personalized Product Recommendation Quiz.</h3>
      <div class="primary-btn">
        <a href="#">Find Your Routine</a>
      </div>
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Guess Work",
    "settings": [],
    "presets": [
      {
        "name": "Guess Work"
      }
    ]
  }
{% endschema %}