<section class="we-craft">

  <div class="craft-flex">
    <div class="craft-width">
      <div class="inner-craft">
        <h2>We craft our emails<br>
          just like our products. <br>
          Only the good stuff.
        </h2>
        <form>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <button type="submit">Get Good Emails</button>
        </form>
      </div>
    </div>
    <div class="craft-width">
      <img src="images/craft.png">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Craft",
    "settings": [],
    "presets": [
      {
        "name": "Craft"
      }
    ]
  }
{% endschema %}