<section class="home-banner">
  <div class="owl-carousel banner-slider owl-theme">
    <div class="item">
      <div class="inner-slider" style="background-image: url(images/home-banner.png);">
        <div class="container">
          <div class="heading">
            <h1>Wellness<br>
              Never Tasted<br>
              So Good.
            </h1>
            <p>Yummy gummies. Tasty tinctures. Your delicious relief is waiting.</p>
            <a class="primary-btn2" href="#">Taste Your Relief
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="inner-slider" style="background-image: url(images/home-banner.png);">
        <div class="container">
          <div class="heading">
            <h1>Wellness<br>
              Never Tasted<br>
              So Good.
            </h1>
            <p>Yummy gummies. Tasty tinctures. Your delicious relief is waiting.</p>
            <a href="#">Taste Your Relief
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="inner-slider" style="background-image: url(images/home-banner.png);">
        <div class="container">
          <div class="heading">
            <h1>Wellness<br>
              Never Tasted<br>
              So Good.
            </h1>
            <p>Yummy gummies. Tasty tinctures. Your delicious relief is waiting.</p>
            <a href="#">Taste Your Relief
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="inner-slider" style="background-image: url(images/home-banner.png);">
        <div class="container">
          <div class="heading">
            <h1>Wellness<br>
              Never Tasted<br>
              So Good.
            </h1>
            <p>Yummy gummies. Tasty tinctures. Your delicious relief is waiting.</p>
            <a href="#">Taste Your Relief
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Banner",
    "settings": [],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}