<section class="meet-the-founder padding-main">
  <div class="custom-container">

    <div class="meet-flex">
      <div class="inner-meet">
        <h2>Meet the founders.</h2>
        <h3>The brother-sister duo that started it all.</h3>
      </div>
      <div class="meet-width">
        <div class="owl-carousel meet-slider owl-theme">
          <div class="item">
            <img src="images/member1.png">
          </div>
          <div class="item">
            <img src="images/member1.png">
          </div>
          <div class="item">
            <img src="images/member1.png">
          </div>
          <div class="item">
            <img src="images/member1.png">
          </div>

        </div>
      </div>
      <div class="meet-width">
        <div class="inner-meet">
          <h2>Meet the founders.</h2>
          <h3>The brother-sister duo that started it all.</h3>
          <p>Soul was born out of two siblings’ passion for the benefits of wellness. Co-founders Angie Lee, serial entrepreneur, and Mike Lee, world-ranked boxer, have each experienced the powers of supplements. They are a powerhouse duo who have had to (literally) fight their way to the top of their respective industries.
          </p>
          <div class="two-btns">
            <a class="secondary-btn" href="#">Learn More</a>
            <a class="meet-btn" href="#">Meet the extended family</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Meet the founder",
    "settings": [],
    "presets": [
      {
        "name": "Meet the founder"
      }
    ]
  }
{% endschema %}