<section class="global-slider padding-main" style="background-color: #FEECD5;">
  <div class="container">
    <div class="global-heading">
      <h2>Doctors Trust Us.</h2>
      <p>With thousands of people helped, discover why customers trust<br> Soul with their daily wellness routines.
      </p>
    </div>
    <div class="customers-area">
      <div class="left-holder">
        <div class="slider slider-for">
          <div>
            <div class="globl-width">
              <div class="coma">
                <img src="images/coma.png">
                <h4>Everything is sourced<br>
                  with such integrity and<br>
                  responsibility.</h4>
                <span>Erica Chidi Cohen
                </span>
                <h5>Doula and Health Educator</h5>
              </div>
            </div>
          </div>
          <div>
            <div class="globl-width">
              <div class="coma">
                <img src="images/coma.png">
                <h4>Everything is sourced<br>
                  with such integrity and<br>
                  responsibility.</h4>
                <span>Erica Chidi Cohen
                </span>
                <h5>Doula and Health Educator</h5>
              </div>
            </div>
          </div>
          <div>
            <div class="globl-width">
              <div class="coma">
                <img src="images/coma.png">
                <h4>Everything is sourced<br>
                  with such integrity and<br>
                  responsibility.</h4>
                <span>Erica Chidi Cohen
                </span>
                <h5>Doula and Health Educator</h5>
              </div>
            </div>
          </div>
          <div>
            <div class="globl-width">
              <div class="coma">
                <img src="images/coma.png">
                <h4>Everything is sourced<br>
                  with such integrity and<br>
                  responsibility.</h4>
                <span>Erica Chidi Cohen
                </span>
                <h5>Doula and Health Educator</h5>
              </div>
            </div>
          </div>
          <div>
            <div class="globl-width">
              <div class="coma">
                <img src="images/coma.png">
                <h4>Everything is sourced<br>
                  with such integrity and<br>
                  responsibility.</h4>
                <span>Erica Chidi Cohen
                </span>
                <h5>Doula and Health Educator</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-btns">
          <button class='slide-prev slick-arrow'><img src="images/left.png"></button>
          <button class='slide-next slick-arrow'><img src="images/right.png"></button>
        </div>
      </div>
      <div class="slider slider-nav">
        <div><img src="images/c1.png"></div>
        <div><img src="images/c2.png"></div>
        <div><img src="images/c3.png"></div>
        <div><img src="images/c1.png"></div>
        <div><img src="images/c2.png"></div>
      </div>
      <!--   <div class="action">
      <a href="#" data-slide="3">go to slide 3</a>
      <a href="#" data-slide="4">go to slide 4</a>
      <a href="#" data-slide="5">go to slide 5</a>
      </div> -->
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Doctor Testimonials",
    "settings": [],
    "presets": [
      {
        "name": "Doctor Testimonials"
      }
    ]
  }
{% endschema %}