<section class="partner padding-main">
  <div class="container">
    <div class="partner-ctm-slider">
      {% for block in section.blocks %}        
        <div class="partner-width">
          {% render 'image-card', image: block.settings.image, lazy_load: true %}
          <p> {{ block.settings.text }} </p>
        </div>
      {% endfor %}
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Partners",
    "blocks": [
        {
            "name": "Slide",
            "type": "Slide",
            "settings": [              
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text" 
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
      ],
    "presets": [
      {
        "name": "Partners"
      }
    ]
  }
{% endschema %}