<section class="routine padding-main">
  <div class="container">
    <div class="heading">
      <h2>A Routine Tailored to You.</h2>
      <p>Our personalized quiz will help you create your perfect wellness routine to get you feeling like you again.
      </p>
      <div class="primary-btn">
        <a href="#">Find Your Routine</a>
      </div>
    </div>
    <div class="inner-routine">
      <div class="owl-carousel routine-slider owl-theme">
        <div class="item">
          <div class="routine-inner">
            <div class="routine-imgs">
              <img src="images/routine-img.png">
            </div>
            <div class="routine-content">
              <h3>Susie’s Plan
              </h3>
              <span>Nurse</span>
              <p>Susie works long hours, does yoga to decompress, and needs help unwinding after a 12 hour shift.
              </p>
              <div class="list-routine">
                <ul>
                  <li><img src="images/icon1.png">Alert Capsules
                  </li>
                  <li><img src="images/icon2.png">Harmoni Gummies
                  </li>
                  <li><img src="images/icon2.png">Sleepi Gummies
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="routine-inner">
            <div class="routine-imgs">
              <img src="images/routine-img.png">
            </div>
            <div class="routine-content">
              <h3>Susie’s Plan
              </h3>
              <span>Nurse</span>
              <p>Susie works long hours, does yoga to decompress, and needs help unwinding after a 12 hour shift.
              </p>
              <div class="list-routine">
                <ul>
                  <li><img src="images/icon1.png">Alert Capsules
                  </li>
                  <li><img src="images/icon2.png">Harmoni Gummies
                  </li>
                  <li><img src="images/icon2.png">Sleepi Gummies
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Routine",
    "settings": [],
    "presets": [
      {
        "name": "Routine"
      }
    ]
  }
{% endschema %}