<section class="we-belive padding-main" style="background-image: url(images/we-banner.png);">
  <div class="container">
    <div class="heading-new">
      <h2>We Believe</h2>
    </div>
    <div class="we-tabing-flex">
      <div class="tabing-width">
        <ul class="tabs">
          <li class="tab-link current" data-tab="tab-1">
            <span>Wellness Should Taste Delicious.</span>
            <div class="inner-tab">
              <h3>Wellness never tasted so good.</h3>
              <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
              </p>
              <div class="primary-btn">
                <a href="#">Learn More</a>
              </div>
              <span class="italc">
                "It's like a treat for your tastebuds and your mind." - Amy C.</span>
            </div>
          </li>
          <li class="tab-link" data-tab="tab-2">
            <span>If It Doesn’t Work, It’s Just Candy.</span>
            <div class="inner-tab">
              <h3>If It Doesn’t Work, It’s Just Candy.</h3>
              <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
              </p>
              <div class="primary-btn">
                <a href="#">Learn More</a>
              </div>
              <span class="italc">
                "It's like a treat for your tastebuds and your mind." - Amy C.</span>
            </div>
          </li>
          <li class="tab-link" data-tab="tab-3">
            <span>No artificial ingredients. All the good stuff.</span>
            <div class="inner-tab">
              <h3>No artificial ingredients. All the good stuff.</h3>
              <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
              </p>
              <div class="primary-btn">
                <a href="#">Learn More</a>
              </div>
              <span class="italc">
                "It's like a treat for your tastebuds and your mind." - Amy C.</span>
            </div>
          </li>
          <li class="tab-link" data-tab="tab-4">
            <span>It’s probably best to have an expert on your team</span>
            <div class="inner-tab">
              <h3>It’s probably best to have an expert on your team</h3>
              <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
              </p>
              <div class="primary-btn">
                <a href="#">Learn More</a>
              </div>
              <span class="italc">
                "It's like a treat for your tastebuds and your mind." - Amy C.</span>
            </div>
          </li>
          <li class="tab-link" data-tab="tab-5">
            <span>Wellness products should be backed by science.</span>
            <div class="inner-tab">
              <h3>Wellness products should be backed by science.</h3>
              <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
              </p>
              <div class="primary-btn">
                <a href="#">Learn More</a>
              </div>
              <span class="italc">
                "It's like a treat for your tastebuds and your mind." - Amy C.</span>
            </div>
          </li>
          <li class="tab-link" data-tab="tab-6">
            <span>Products should be triple tested.</span>
            <div class="inner-tab">
              <h3>Products should be triple tested.</h3>
              <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
              </p>
              <div class="primary-btn">
                <a href="#">Learn More</a>
              </div>
              <span class="italc">
                "It's like a treat for your tastebuds and your mind." - Amy C.</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="tabing-width tab-data">

        <div id="tab-1" class="tab-content current">
          <div class="inner-tab">
            <h3>Wellness never tasted so good.</h3>
            <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
            </p>
            <div class="primary-btn">
              <a href="#">Learn More</a>
            </div>
            <span class="italc">
              "It's like a treat for your tastebuds and your mind." - Amy C.</span>
          </div>
        </div>
        <div id="tab-2" class="tab-content">
          <div class="inner-tab">
            <h3>If It Doesn’t Work, It’s Just Candy.</h3>
            <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
            </p>
            <div class="primary-btn">
              <a href="#">Learn More</a>
            </div>
            <span class="italc">
              "It's like a treat for your tastebuds and your mind." - Amy C.</span>
          </div>
        </div>
        <div id="tab-3" class="tab-content">
          <div class="inner-tab">
            <h3>No artificial ingredients. All the good stuff.</h3>
            <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
            </p>
            <div class="primary-btn">
              <a href="#">Learn More</a>
            </div>
            <span class="italc">
              "It's like a treat for your tastebuds and your mind." - Amy C.</span>
          </div>
        </div>
        <div id="tab-4" class="tab-content">
          <div class="inner-tab">
            <h3>It’s probably best to have an expert on your team</h3>
            <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
            </p>
            <div class="primary-btn">
              <a href="#">Learn More</a>
            </div>
            <span class="italc">
              "It's like a treat for your tastebuds and your mind." - Amy C.</span>
          </div>
        </div>
        <div id="tab-5" class="tab-content">
          <div class="inner-tab">
            <h3>Wellness products should be backed by science.</h3>
            <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
            </p>
            <div class="primary-btn">
              <a href="#">Learn More</a>
            </div>
            <span class="italc">
              "It's like a treat for your tastebuds and your mind." - Amy C.</span>
          </div>
        </div>
        <div id="tab-6" class="tab-content">
          <div class="inner-tab">
            <h3>Products should be triple tested.</h3>
            <p>We stay focused on offering a flavor forward wellness experience for our community. If there is a way to make an otherwise non-palatable ingredient taste great, we will find it.
            </p>
            <div class="primary-btn">
              <a href="#">Learn More</a>
            </div>
            <span class="italc">
              "It's like a treat for your tastebuds and your mind." - Amy C.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "We Believe",
    "settings": [],
    "presets": [
      {
        "name": "We Believe"
      }
    ]
  }
{% endschema %}