<section class="join">
  <div class="join-flex">
    <div class="join-width">
      <img src="images/join.png">
    </div>
    <div class="join-width">
      <div class="inne-join">
        <h3>Join the inner circle.</h3>
        <p>Subscribe to any product for instant access to your Soul Inner Circle Membership. No commitment, completely free, with savings and perks that make it easier than ever to (exhale) feel your best.</p>
        <div class="normal-btn">
          <a href="#">
            <span>Get Started</span>
          </a>
        </div>
        <div class="join-sl">
          <div class="owl-carousel join-slider owl-theme">
            <div class="item">
              <div class="join-slider-inner">
                <img src="images/join1.png">
                <span>15% Off<br>
                  Every Order
                </span>
              </div>
            </div>
            <div class="item">
              <div class="join-slider-inner">
                <img src="images/join2.png">
                <span>Sale<br>
                  Boosters
                </span>
              </div>
            </div>
            <div class="item">
              <div class="join-slider-inner">
                <img src="images/join3.png">
                <span>Free Shipping<br>
                  On All Orders

                </span>
              </div>
            </div>
            <div class="item">
              <div class="join-slider-inner">
                <img src="images/join1.png">
                <span>15% Off<br>
                  Every Order
                </span>
              </div>
            </div>
            <div class="item">
              <div class="join-slider-inner">
                <img src="images/join2.png">
                <span>15% Off<br>
                  Every Order
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Join Us",
    "settings": [],
    "presets": [
      {
        "name": "Join Us"
      }
    ]
  }
{% endschema %}