<section class="quality padding-main">
    <div class="container">
        <div class="quality-flex">
            {% for block in section.blocks %}                
                <div class="quality-width">
                    {% render 'image-card', image: block.settings.image, lazy_load: true %}
                    {% if block.settings.heading != blank %}                        
                        <h4> {{ block.settings.heading }} </h4>
                    {% endif %}
                    {% if block.settings.subtext != blank %}                        
                        <p> {{ block.settings.subtext }} </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "Functions",
        "settings": [],
        "blocks": [
        {
            "type": "item",
            "name": "Item",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "subtext",
                    "label": "Subtext"
                }
            ]
        }
    ]
    }
{% endschema %}