<section class="try-me">
    <div class="try-flex">
        <div class="try-width">
            <div class="try-img">
                <img src="images/girl.png">
            </div>
        </div>
        <div class="try-width">
            <div class="try-content">
                <img src="images/try-comma.png">
                <h5>As someone devoted to sleep health since my own 
                    brain scare in 2015 - I had tried practically every 
                    supplement on the market. Most didn’t work or 
                    left me feeling cloudy in the am. After months of 
                    working with the team at Soul I can finally say — 
                    GOOD NIGHT! Not only do these gummies taste 
                    delicious, but they contain the perfect amount of 
                    CBD, melatonin, and natural botanicals to help you 
                    get truly restorative sleep!"</h5>
                <h5 class="xo">XOXO</h5>
                <div class="signature">
                    <img src="images/charlie2.png">
                </div>
                <div class="primary-btn">
                    <a href="#">try my bedtime bestie</a>
                </div>
            </div>
        </div>
    </div>
</section>