<section
  class="blogs-banner"
  style="background-image: url(images/faqs-banner.png);">
  <div
    class="container">
    <div
      class="blogs-inner">
      <h1>We’ve Got<br>
        Answers
      </h1>
    </div>
  </div>
</section>