<section class="blogs-banner" loading="lazy" style="background-image: url({{ section.settings.image | image_url: width: section.settings.image.width }});">
  <div class="container">
    <div class="blogs-inner">
      <h1>
        {{ section.settings.heading | newline_to_br }}
      </h1>
    </div>
  </div>
</section>

{% schema %}
    {
        "name" : "Banner",
        "settings": [
            {
                "type": "textarea",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ],
        "presets": [
            {
                "name": "Page Banner"
            }
        ]
    }
{% endschema %}