<section class="refferal-main padding-main">
    <div class="container">
        <div class="heading">
            {% if section.settings.heading != blank %}
                <h2> {{ section.settings.heading }} </h2>                
            {% endif %}
            {% if section.settings.subheading != blank %}                
                <h3> {{ section.settings.subheading }}</h3>
            {% endif %}
        </div>
        <div class="refferal-list">
            <ul>
                {% for block in section.blocks %}    
                {% if block.settings.value != blank %}                    
                    <li>
                        <div class="number-flex">
                            <div class="round-number">
                                <h3> {{ block.settings.value }} </h3>
                            </div>
                            <div class="points">
                                <h4>{{ block.settings.points }}</h4>
                            </div>
                        </div>
                    </li>
                {% endif %}                 
                {% endfor %}               
            </ul>
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "Discounts",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Redeem For Discounts"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
                "default": "Simply apply your points for a discount at checkout!"
            }
        ],
        "blocks": [
            {
                "type": "discount",
                "name": "Discount Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "value",
                        "label": "Value"
                    },
                    {
                        "type": "text",
                        "id": "points",
                        "label": "Points"
                    }
                ]
            }
        ]
    }
{% endschema %}