<section class="wayToEarn">
    <div class="container">
        <h2>Way To Earn Points</h2>
        <ul>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
            <li>
                <img src="./images/rewards2.png" alt="">
                <div class="contentWrapper">
                    <h5>25 points</h5>
                    <p>Visit our Facebook page</p>
                </div>
            </li>
        </ul>
    </div>
</section>