<section class="howItworks">
    <div class="container">
        <h2> How it works</h2>
        <ul>
            <li>
                <span>01</span>
                <h3>Join</h3>
                <p>
                    Join Soul Rewards and start earning.
                </p>
            </li>
            <li>
                <span>02</span>
                <h3>Earn</h3>
                <p>
                    Earn points every time you shop.
                </p>
            </li>
            <li>
                <span>03</span>
                <h3>Redeem</h3>
                <p>
                    Redeem points for exclusive discounts.
                </p>
            </li>
        </ul>
    </div>
</section>