.footer-block__details-content.rte {
    color: white;
    margin: 40px 0 20px;
}

.footer-block__details-content.rte p {
    color: white;
}

.top-bar {
    padding: 13px 0;
    background: #023940;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__icon:hover .icon, .modal__close-button:hover .icon {
    transform: unset;
}

svg.modal__toggle-open.icon.icon-search {
    height: 28px;
    width: 28px;
}

.header__icon, .header__icon--cart .icon{
    width: 2.4rem;
    height: 3.4rem;
}

.bottom-footer span a {
    color: white;
}